{
  "editor.formatOnSave": true,
  "proseWrap": "always",
  "tabWidth": 4,
  "requireConfig": false,
  "useTabs": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "semi": true,
  "printWidth": 160,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "css",
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
