@mixin scrollbar() {
    &::-webkit-scrollbar {
        width: 16px;
    }
    &::-webkit-scrollbar-track {
        background: #222227;
    }
    &::-webkit-scrollbar-thumb {
        background: #bdbdbd;
        outline: 1px solid #222227;
        transition: all 0.5s ease;
    }
}

@mixin ellipsis() {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
